/*==========================
  Basic Properties starts
===========================*/


*{
    margin: 0;
    padding:0;   
}

/*==========================
  Basic Properties Ends
===========================*/



/*==========================
Navigation Properties starts
===========================*/

.navbar
{
    width:100%;
    padding: 22px 0px;
    border-bottom: none ! important;    
}
.navbar ul li a
{
    color: white ! important;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 13px;
    transition: all 0.5s ease-in;
    
}

.navbar ul li a:hover
{
    color: deepskyblue ! important;
}

.navbar-toggle
{
    border: 1px solid white !important;
    transition : all 0.5s ease-in;
}

.navbar-toggle:hover
{
    background-color: deepskyblue !important;
}



 .navbar-inverse .navbar-collapse
{
    border-color: transparent !important;
}

.Contact
{
    border: 1px solid white;
    border-radius:50px;
}
.navbar-inverse
{
    background-color: transparent !important;
}





/*==========================
Navigation Properties Ends
===========================*/


/*==========================
Sticky navigation with background color
===========================*/
.secondary
{
    background-color:black;
}





/*==========================
Slider Properties starts
===========================*/
.slider
{
    width:100%;
    height:700px;
    background-image: url(HopeImages/team-ethnicity-group-hands.jpg);
    background-size:cover;
    background-position:center;
    color:white;
}

.slider-overlay
{
    width:100%;
    height: 100%;
    background: rgba(0,0,0,0.65);
    position: relative;
}

.slider-content
{
    position:absolute;
    top:39%;
    width:100%;
}

.icons .fa
{
    font-size:35px;
    margin-right: 7px;
}
.cta-div
{
    margin-top: 30px;
    
}


.btn1
{
    padding: 10px 30px;
    background-color: transparent;
    color:white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    border: 2px solid white;
    border-top-left-radius: 15px;
    transition: all 0.5 ease-in;
    margin-right: -6px;

    background-image:url("HopeImages/charity-93371.jpg");
    background-size: cover;
    background-position: center
    
}

.btn1:hover
{
    text-decoration: none;
    color:white;
    background-color: deepskyblue;
    border-color: deepskyblue;
}

.btn2
{
    padding: 10px 30px;
    background-color: transparent;
    color:white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    border: 2px solid white;
    border-bottom-right-radius: 15px;
    transition: all 0.5 ease-in;
    margin-right: 10px;
    
}

.btn2:hover
{
    text-decoration: none;
    color:white;
    background-color: orangered;
    border-color: orangered;
}

.social-networks a.fa
{
    border:1px solid white;
    padding: 10px;
    color:white;
    width: 35px;
    height: 35px;
    border-radius: 25px;
    margin-right: 2px;
    transition: all 0.5s ease-in;
}
.social-networks a.fa:hover
{
 
    text-decoration: none;
    background-color: deepskyblue;
    color:white;
    border: 1px solid deepskyblue;
    
}


.slider .text, .slider .typed-cursor
{
    display:inline;
    font-size:30px;
    text-transform:uppercase;
}
.primary
{
    color:orangered;
}

.typed-cursor
{
      opacity: 1;
      animation: blink 0.7s infinite;
      -webkit-animation:blink 0.7s infinite;
      -mox-animation:blink 0.7s infinite;
}
@keyframes blink
{
    0%
    {
        opacity: 1;
    }
     50%
    {
        opacity: 0;
    }
     100%
    {
        opacity: 1;
    }
}

@-webkit-keyframes blink
{
    0%
    {
        opacity: 1;
    }
     50%
    {
        opacity: 0;
    }
     100%
    {
        opacity: 1;
    }
}
@-mox-keyframes blink
{
    0%
    {
        opacity: 1;
    }
     50%
    {
        opacity: 0;
    }
     100%
    {
        opacity: 1;
    }
}
 /*==========================
Slider Properties End
===========================*/

 
 /*==========================
Services styles start
===========================*/

.services-wrap
{
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    overflow: hidden;
    padding: 25px 35px;
    position:relative;
    transition: all 0.5s ease 0s;
    z-index:9;
    margin-top: 20px;
}



.services-wrap::before, .services-wrap::after
{
    content: "";
    height: 300%;
    position:absolute;
    transform: rotate(45deg);
    width: 120%;
    z-index:-9;
    transition: all 0.5s;
    opacity: 0;
    background: #34495e;
}

.services-wrap::before
{
    top: -37px;
    left: 100%;
}
.services-wrap:hover:before
{
    left: -27px;
    opacity: 1;
}

.services-wrap::after
{
    bottom: -37px;
    right: 100%;
}

.services-wrap:hover:after
{
    opacity: 1;
    right: -27px;
}


.services-wrap:hover
{
   color: white;
}


.services-wrap:h3
{
   color: white;
}

.services-wrap:hover h3
{
   color: white;
}

.services-wrap:hover h3:after
{
   background-color: white;
}

.service-icon i {
    font-size: 30px;
    margin-bottom: 20px;
    transition: all 0.45s;
}

.services-wrap:hover .service-icon i
{
    transform: rotate(360);
}

.services-wrap h3
{
    font-size:25px;
    font-weight: 700;
    padding-bottom:15px;
    position: relative;
    
}
























